    <link  href="/assets/css/gallery.css" rel="stylesheet" type="text/css" media="screen"/>


    <div id="border">
        <div class="parallaxOther">
            <img src="https://i.imgur.com/oNLmcoE.png" id="cplogo">
    </div>
    </div>

        {{> nav}}

    <div>
{{!-- Gallery cards go here --}}
        {{#each instrument}}

        {{/each}}
    </div>



    {{!-- excess code below --}}

<!-- Gallery specific start-->
    <!-- <ul class="vertical-nav">
        <li class="vertical-navElement"><a href="default.asp">Home</a></li>
        <li class="vertical-navElement"><a href="news.asp">News</a></li>
        <li class="vertical-navElement"><a href="contact.asp">Contact</a></li>
        <li class="vertical-navElement"><a href="about.asp">About</a></li>
      </ul> -->
      <!-- end -->
      <!-- <div style="height:1000px;"></div> -->