    <link  href="/assets/css/gallery.css" rel="stylesheet" type="text/css" media="screen"/>


    <div id="border">
        <div class="parallaxOther">
            <img src="https://i.imgur.com/oNLmcoE.png" id="cplogo">
    </div>
    </div>

        {{> nav}}

    <div>
{{!-- Gallery cards go here --}}
        <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/OIdhJ53.jpg" class="galleryImage">
        </div>
                <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/kCoZ8RI.jpg" class="galleryImage">
        </div>
                <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/qne3B6M.jpg" class="galleryImage">
        </div>
                <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/s4Qrndq.jpg" class="galleryImage">
        </div>
                <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/KJIbjII.jpg" class="galleryImage">
        </div>
                <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/k3okkRK.jpg" class="galleryImage">
        </div>
                <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/FsLf2KQ.jpg" class="galleryImage">
        </div>
                <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/8d3J1pm.jpg" class="galleryImage">
        </div>

                <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/XxX7g3P.jpg" class="galleryImage">
        </div>

                <div class="instrumentPhotoCard">
                <img src="https://i.imgur.com/nV0uSPH.jpg" class="galleryImage">
        </div>

                {{!-- <div class="instrumentPhotoCard">
                <img src="" class="galleryImage">
        </div> --}}
    </div>



    {{!-- excess code below --}}

<!-- Gallery specific start-->
    <!-- <ul class="vertical-nav">
        <li class="vertical-navElement"><a href="default.asp">Home</a></li>
        <li class="vertical-navElement"><a href="news.asp">News</a></li>
        <li class="vertical-navElement"><a href="contact.asp">Contact</a></li>
        <li class="vertical-navElement"><a href="about.asp">About</a></li>
      </ul> -->
      <!-- end -->
      <!-- <div style="height:1000px;"></div> -->