    <li class="dbCard"> 
        <p class="infofill">{{instrumentnameHB}}</p>
        <p class ="infofill">{{instrumentDescHB}}</p>
        <div class="UD-op"> <button><img  class="editBtnImg" src="reference/iu.png"></button> <button><img class="deleteBtnImg" src="reference/iu-2.png"></button></div> 
    </li>