        <div class="instrumentCard" href="{{instrumentIdRoute}}">
            <div class="instrumentImage">
                <img style="height: auto; width: 300px;" src="{{ ImgHref }}">
            </div>
            <div class="instrumentName" style="text-align: center; font-size: 20pt;">
                <p>{{instrmentnameHB}}</p>
            </div>
        </div>