        <div class="instrumentCard">
            <div class="instrumentImage">
                <img style="height: auto; width: 300px;" src="reference/raw-violin.JPG">
            </div>
            <div class="instrumentName" style="text-align: center; font-size: 20pt;">
                <p>El Primero.</p>
            </div>
        </div>