<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    
	<link rel="stylesheet" href=".../public/CSS/style.css" type="text/css" />

	<title>Charles Pinks</title>

    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Tangerine&display=swap" rel="stylesheet">

		{{!-- <script src="https://code.jquery.com/jquery.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
