     <link  href="../public/CSS/admin.css" rel="stylesheet" type="text/css" media="screen"/>

 
    <div>
        <ul class="main-nav">
            <li class="navElement"><a href="index.html">Home</a></li>
            <li class="navElement"><a href="">Inventory</a></li>
            <li class="navElement"><a href="">Users</a></li>
            <li class="navElement"><a href="">Add Inventory</a></li>
            <li class="navElement"><a href="">Add Admin</a></li>
        </ul>
    </div>
    <div>
{{!-- database cards go here --}}
        {{#each item}}
            {{item/databasecard}}
        {{/each}}
    </div>