    <link  href="../public/CSS/gallery.css" rel="stylesheet" type="text/css" media="screen"/>


    <div id="border">
        <div class="parallaxOther">
            <img src="reference/CPLogo.png" id="cplogo">
    </div>
    </div>
    <ul class="main-nav">
        <li class="navElement"><a href="index.html">Home</a></li>
        <li class="navElement"><a href="gallery.html">Gallery</a></li>
        <li class="navElement"><a href="inventory.html">Inventory</a></li>
        <li class="navElement"><a href="contact.html">Contact</a></li>
    </ul>
    <div>
{{!-- Gallery cards go here --}}
        {{#each instrument}}
            {{instrument/gallerycard}}
        {{/each}}
    </div>



    {{!-- excess code below --}}

<!-- Gallery specific start-->
    <!-- <ul class="vertical-nav">
        <li class="vertical-navElement"><a href="default.asp">Home</a></li>
        <li class="vertical-navElement"><a href="news.asp">News</a></li>
        <li class="vertical-navElement"><a href="contact.asp">Contact</a></li>
        <li class="vertical-navElement"><a href="about.asp">About</a></li>
      </ul> -->
      <!-- end -->
      <!-- <div style="height:1000px;"></div> -->