
    <link  href="../public/CSS/inventory.css" rel="stylesheet" type="text/css" media="screen"/>
   
    <div id="border">
        <div class="parallaxOther">
            <img src="reference/CPLogo.png" id="cplogo">
    </div>
    </div>
    <div class="nav-bar-hold">
    <ul class="main-nav">
        <li class="navElement"><a href="index.html">Home</a></li>
        <li class="navElement"><a href="gallery.html">Gallery</a></li>
        <li class="navElement"><a href="inventory.html">Inventory</a></li>
        <li class="navElement"><a href="contact.html">Contact</a></li>
    </ul>
    <ul class="vertical-nav">
        <li class="vertical-navElement"><a href="default.asp">Violins</a></li>
        <li class="vertical-navElement"><a href="news.asp">Cellos</a></li>

        <!-- So these two nav elements with violins and Cellos will make api calls that will repopulate on the page accordingly -->

        <!-- <li class="vertical-navElement"><a href="contact.asp">Contact</a></li>
        <li class="vertical-navElement"><a href="about.asp">About</a></li> -->
      </ul>
    </div>
    <div class="card hold">
        {{!-- Instrument cards go in here --}}
    </div>
<!-- <div style="height:1000px;font-size:36px"></div> -->