   {{!--Require the product.css here  --}}
   
   
    <div id="border">
        <div class="parallaxOther">
            <img src="reference/CPLogo.png" id="cplogo">
    </div>
    </div>
    <ul class="main-nav">
        <li class="navElement"><a href="index.html">Home</a></li>
        <li class="navElement"><a href="gallery.html">Gallery</a></li>
        <li class="navElement"><a href="inventory.html">Inventory</a></li>
        <li class="navElement"><a href="contact.html">Contact</a></li>
    </ul>
<div style="height:1000px;">
    <div class="product-close">
    <div class="imgMargin">
        <img class="product-display" src=" Product image ">
    </div>
    <div class="descMargin">
        <div class="instTitleProduct">
            {{!-- This needs to be the product name --}}
        </div>
        <div class="instDescProduct">
            {{!-- This needs to be the product description --}}
        </div>
    </div>
    </div>
</div>
