  /* Parallax for other pages besides the main page */
  .parallaxOther {
    /* The image used */
    background-image: url("reference/cello-glue.JPG");
  
    /* Set a specific height */
    min-height: 200px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  #cplogo{
    height: 100px;
    width: auto;
    float: left;
    margin: 50px;
}
.product-close{
  display: inline-flex;
}
.instTitleProduct{
  margin-bottom: 5%;
  font-size: 35pt;
}
.instDescProduct{
  display: block;
  width: auto;
  height: auto;
}
.product-display{
  height: 800px;
}
.imgMargin{
  margin-left: 20%;
  margin-top: 10%;
  margin-right: 0;
  border: #56565661;
  border-style: solid;
  border-width: 35px;
}
.descMargin{
  font-family: 'Julius Sans One', sans-serif;
  float: right;
  width: 35%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 1px;
}
