 /* Main Nav Styling */
 .main-nav {
    list-style-type: none;
    height: 20%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(198, 198, 198);
    position: sticky;
    top: 0;
  }
  
 .navElement {
    float: left;
    margin-left: 5%;
    margin-right: 2.5%;
  }
  
.navElement a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20pt;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
.navElement a:hover {
    /* background-color: #111; */
    border-bottom: #111;
    border-bottom-style: ridge;
  }
