    <link  href="/assets/css/product.css" rel="stylesheet" type="text/css" media="screen"/>
 
   
    <div id="border">
        <div class="parallaxOther">
            <img src="https://i.imgur.com/oNLmcoE.png" id="cplogo">
    </div>
    </div>

    {{> nav}}

<div style="height:1000px;">
    <div class="product-close">
        {{#if product}}
        {{#each product}}
    <div class="imgMargin">
        <img class="product-display" src="{{this.dataValues.img}}">
    </div>
    <div class="descMargin">
        <div class="instTitleProduct">
            {{this.dataValues.instName}}
        </div>
        <div class="instDescProduct">
            {{this.dataValues.descr}}
        </div>
    </div>
    {{/each}}
    {{/if}}
    </div>
</div>
