 
 /* Main Nav Styling */
 .main-nav {
    list-style-type: none;
    height: 20%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(198, 198, 198);
    position: sticky;
    top: 0;
  }
  
 .navElement {
    float: left;
    margin-left: 5%;
    margin-right: 2.5%;
  }
  
.navElement a {
    display: block;
    color: white;
    text-align: center;
    font-size: 20pt;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;
  }
  
  /* Change the link color to #111 (black) on hover */
.navElement a:hover {
    /* background-color: #111; */
    border-bottom: #111;
    border-bottom-style: ridge;
  }


  /* Vertical Nav Styling */
.vertical-nav{
    list-style-type: none;
    margin-top: 0%;
    padding: 10px;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: sticky; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    top: 57px;
    font-family: 'Julius Sans One', sans-serif;
    font: 16pt; 
}  
.vertical-navElement a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    height:100%;
}
.vertical-navElement a:hover {
    background-color: #555;
    color: white;
}


/* Creates our parallax effect which is the unique scrolling */
.parallax {
    /* The image used */
    background-image: url("reference/cello-glue.JPG");
  
    /* Set a specific height */
    min-height: 800px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  /* Parallax for other pages besides the main page */
.parallaxOther {
    /* The image used */
    background-image: url("reference/cello-glue.JPG");
  
    /* Set a specific height */
    min-height: 200px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }


  /* Various class and item styles */
.jumbo1 {
    height: auto;
    width: 100%;
  }
.large-title{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 160pt;
    text-align: center;
  }
.small-title{
      font-size: 130pt;
      font-family: 'Tangerine', cursive;
      text-align: center;
  }
.statement{
    font-family: 'Julius Sans One', sans-serif;
    /* margin-right: 15%; */
    font-size: 20pt;
    line-height: 35px;
    /* margin-top: 40px; */
    margin-bottom: 0px;
    /* margin-left: 5%; */
    background-color: lightgray;
    padding: 20px;
}
.main-content{
    background-color: lightgray;

}
.front-image{
    width: 30%;
    height: auto;
    border-style: solid;
    border-width: 5px;
    border-color: lightgray;
    border-radius: 31x;
    display: inline-block;
}
#firstFrontImage{
    float: left;
    width: 33%;
    /* margin-bottom: 25px; */
}
#secondFrontImage{
    float: left;
    width: 33%;
}
#thirdFrontImage{
    float: left;
    width: 33%;
}
#backgroundimg{
    overflow: auto;
    width: auto;
    height: auto;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 0px;
    padding-right: 10%;
    background-image: url("reference/rotatedcropped-shavings.jpeg");
}
#section1{
    height: auto;
    margin: 0px;
    overflow: auto;
}
#section2{
    height: auto;
    overflow: auto;
    margin: 5px;
}
.additionaltext{
    font-size: 20pt;
    font-family: 'Julius Sans One', sans-serif;
}
#instaLogo{
    float: bottom;
    margin: 80px;
    height: 60px;
}
#divhref{
    margin-top: 10%;
}
#cplogo{
    height: 100px;
    width: auto;
    float: left;
    margin: 50px;
}
/* item card css */
.instrumentCard{
    height: 550px;
    width: 350px;
    display: block;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
    float: right;
    margin: 5%;
    /* align-items: center; */
    /* padding-left: 12.5%;
    padding-right: 12.5%; */
}
.instrumentImage{
    height: auto;
    width: 300px;
    padding: 25px;
}
.instrumentName{
    text-align: center;
    font-size: 20pt;
}

.instrumentPhotoCard{
    height: 25%;
    width: auto;
    margin: 3%;
    float: left;
}
.galleryImage{
    size: auto;
    height: 300px;
    border: lightgray;
    border-style: solid;
    border-width: 5px;
}
/* CSS for admin page */
.dbCard{
    height: 50px;
    background-color: gray;
    border-style: inset;
}
.dbCard a:hover {
    background-color: white;
}
.infofill{
    float: left;
    margin: 10px;
    font-size: 20px;
}

.UD-op{
    float: right;
    margin: 10px;
}

.editBtnImg{
    height: 20px;
}

.deleteBtnImg{
    height: 20px;
}