/* CSS for admin page */
.dbCard{
    height: 50px;
    background-color: gray;
    border-style: inset;
}
.dbCard a:hover {
    background-color: white;
}
.infofill{
    float: left;
    margin: 10px;
    font-size: 20px;
}

.UD-op{
    float: right;
    margin: 10px;
}

.editBtnImg{
    height: 20px;
}

.deleteBtnImg{
    height: 20px;
}