  /* Vertical Nav Styling */
  .vertical-nav{
    list-style-type: none;
    margin-top: 0%;
    padding: 10px;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: sticky; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    top: 57px;
    font-family: 'Julius Sans One', sans-serif;
    font: 16pt; 
}  
.vertical-navElement a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    height:100%;
}
.vertical-navElement a:hover {
    background-color: #555;
    color: white;
}
  /* Parallax for other pages besides the main page */
  .parallaxOther {
    /* The image used */
    background-image: url("https://i.imgur.com/LTChy2V.jpg");
  
    /* Set a specific height */
    min-height: 200px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  #cplogo{
    height: 100px;
    width: auto;
    float: left;
    margin: 50px;
}
/* item card css */
.instrumentCard{
    height: 550px;
    width: 350px;
    display: block;
    border-color: lightgray;
    border-width: 2px;
    border-style: solid;
    float: right;
    margin: 5%;
    background-color: rgba(128, 128, 128, 0.67);
    /* align-items: center; */
    /* padding-left: 12.5%;
    padding-right: 12.5%; */
}
.instrumentImage{
    height: auto;
    width: 300px;
    padding: 25px;
}
.instrumentName{
    text-align: center;
    font-size: 20pt;
    text-decoration: none;
    color: black;
}
